/* HEADER */

nav {
    height: 32px;
    width: 100%;
    align-content: center;
}

.portada-logo {
    padding: 10px;
    border-top: #f86500 4px solid;
}

.nav-menu {
    margin-left: 40px
}

.nav-menu li {
    height: 100%;
    padding: 0 4px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #eeecec;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    float: left;
    transition-duration: 200ms;
    margin: auto auto auto 10px
}

.nav-menu li:hover {
    cursor: pointer;
    color: #1e1e1e;
}

.selected {
    background-color: #1e1e1e;
}

.selected:hover {
    color: white !important;
}

/* BODY */

/* CONTAINERS */

h2 {
    font-size: 32px
}

.main-container {
    width: 80%;
    min-height: 50vh;
    align-content: space-around;
    justify-content: space-around;
    margin: auto;
}

/* Main Block */

.main-block {
    margin: 10px
}

.main-block-bienvenido-text {
    margin-top: 10px;
    border-top: solid #bfbdbd 2px;
}

.main-block-bienvenido-text p {
    margin-top: 10px
}

.main-block-helper {
    margin-top: 50px
}

.main-block-helper-text {
    padding: 6px 0;
}

#main-block-bienvenido {
    flex-direction: column;
    align-content: space-between;
}

#main-block {
    flex-direction: column;
    justify-content: flex-start;
}

#main-block-helper-text-child {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

/*  Login block */

.login-block {
    flex-direction: column;
}

.login-block form {
    border: #bfbdbd solid 2px;
    padding: 10px
}

.login-block form input {
    border-radius: 1px;
    height: 30px;
    margin: 10px auto;
    width: 80%;
    background-color: #eeecec;
    border: #bfbdbd solid 1px;
}

#login-form {
    background: linear-gradient(#f2f2f2, white);
}

#login-submit {
    width: 50%;
}

/* Marquesina */

.marquesina {
    justify-content: space-around;
}



.plato {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plato img {
    border: 1px solid #1e1e1e;
    width: 200px;
    align-self: center
}

.plato-texto {
    font-size: 14px;
    color: #f2f2f2;
    background-color: #1e1e1e;
    align-self: center;
    width: 192px;
    padding: 5px;
}

/* Footer */

footer {
    margin-top: 10px;
    border-top: #f86500 2px solid;
}

.footer-container {
    margin: 20px auto;
}

.footer-right-arrow {
    transform: scaleX(-1);
}