
/* COLORES */
.negro-topo-bg {
    background-color: #1e1e1e;
}

.negro-topo-col {
    color: #1e1e1e
}

.naranja-bg {
    background-color: #f86500;
}

.naranja-col {
    color: #f86500
}

.cachiblanco-bg {
    background-color: #eeecec
}

.cachiblanco-col {
    color: #eeecec
}

.light-gris-bg {
    background-color: #f2f2f2
}

.light-gris-col {
    color: #f2f2f2
}

.gris-bg {
    background-color: #bfbdbd
}

.gris-col {
    color: #bfbdbd
}